.top{
    float:right;
    margin-top: 0%;
}
.signin{
    color: white;
    background-color: blue;
    border-color: blue;
    
}
.body{
    font-family: serif;
}
.main-body{
    align-items: center;
}
.google-logo{
  width: 250px;
    height: 80px;
    margin-top: 12%;
    margin-left: 36%;
}
.searchbox{
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid;
    border-color: #e6e6e6;
    margin-left: 27%;
}
input[type="searchbar"]:focus {
  outline: none;
}
.button{
    margin-left: 37%;
}
.language{
    margin-left: 30%;
}
#languagetext{
    color: blue;
}
footer{
    margin-top: 15%;
    margin-bottom: 0%;
    background-color: #e6e6e6;
    border: solid;
    border-color: #e6e6e6; 
}
.right{
    float: right;
}